{% extends 'base.html.twig' %}

{% block title %}
    Quiz de {{quiz}}
{% endblock %}

{% block body %}
    <section>
        <h3><span>Vous êtes sur le quiz de {{quiz}}<span></h3>
        <form method="POST" action="{{path('app_client_reponse')}}">
            {% for qz in quiz.questions %}
                <div>{{qz.question}}</div>
                {% for reponse in qz.reponses %}
                    <label for={{reponse.id}}>{{reponse.reponses}}</label>
                    <input type="radio" name="{{qz.id}}" value="{{reponse.id}}">
                {% endfor %}
            {% endfor %}
            <button type="submit">Envoyer</button>
        </form>
    </section>
{% endblock %}
