{% extends 'base.html.twig' %}

{% block title %}Listes des réponses | Quizilla{% endblock %}

{% block body %}
    <h1>Listes des réponses</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Les réponses</th>
            </tr>
        </thead>
        <tbody>
        {% for reponse in reponses %}
            <tr>
                <td>{{ reponse.reponses }}</td>
                <td>{{ reponse }}</td>
                <td>
                    <a href="{{ path('app_reponses_show', {'id': reponse.id}) }}">Lire</a>
                    <a href="{{ path('app_reponses_edit', {'id': reponse.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reponses_new') }}">Create new</a>
{% endblock %}
